<div class="card widget">
    <!-- 优化移动端显示，隐藏 tagcloud  -->
    <div class="card-content is-hidden-mobile">
        <h3 class="menu-label">
            <%= __('widget.tag_cloud') %>
        </h3>
        <%- tagcloud() %>
    </div>
</div>